@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  overflow: scroll;
}

html::-webkit-scrollbar{
  display: none;
}

/* Apply dark mode globally */
/* .dark {
    @apply bg-gray-900 text-white; /* Example: Set background to dark and text to light */
  /* } */
 /* * */

/* 
@import 'sonner/dist/index.css';

.sonner-toast {
  --normal-bg: rgba(255, 255, 255, 0.9);
  --normal-border: rgba(0, 0, 0, 0.1);
  --normal-text: #000000;
  --success-bg: #28a745;
  --success-border: #1e7e34;
  --success-text: #ffffff;
  --error-bg: #dc3545;
  --error-border: #bd2130;
  --error-text: #ffffff;
  --warning-bg: #ffc107;
  --warning-border: #d39e00;
  --warning-text: #000000;
  --info-bg: #007bff;
  --info-border: #0056b3;
  --info-text: #ffffff;
}

.sonner-toast[data-type="success"] {
  background: var(--success-bg);
  border-color: var(--success-border);
  color: var(--success-text);
}

.sonner-toast[data-type="error"] {
  background: var(--error-bg);
  border-color: var(--error-border);
  color: var(--error-text);
}

.sonner-toast[data-type="warning"] {
  background: var(--warning-bg);
  border-color: var(--warning-border);
  color: var(--warning-text);
}

.sonner-toast[data-type="info"] {
  background: var(--info-bg);
  border-color: var(--info-border);
  color: var(--info-text);
} */



/* Toast */

/* :root {
  --toast-background: #333;
  --toast-text: #fff;
  --toast-success-background: #4caf50;
  --toast-success-text: #fff;
  --toast-error-background: #f44336;
  --toast-error-text: #fff;
} */

/* { style: {
  background: 'var(--toast-error-background)',
  color: 'var(--toast-error-text)',
}, */

/* <Toaster 
expand={false} 
theme="dark" 
position='top-right'
toastOptions={{
  style: {
    background: 'var(--toast-background)',
    color: 'var(--toast-text)',
  },
}}
/> */