/* toastStyles.css */
.Toastify__toast {
    background: black !important; /* Black background */
    color: white !important; /* White text */
    border-radius: 10px !important;
    font-size: 12px; /* Smaller text */
    padding: 6px 12px; /* Smaller padding */
    box-shadow: none !important; /* Remove shadow */
    max-width: 250px; /* Optional: limit width */
    transition: background-color 0.5s ease-in-out !important;
    box-shadow: 8px 6px 12px rgba(40, 30, 85, 0.2) !important; 
  }
  
  .Toastify__toast--success {
    background: black !important; /* Ensure black background for success */
  }
  
  .Toastify__toast--error {
    background: black !important; /* Ensure black background for error */
  }
  
  .Toastify__toast-container {
    margin: 0; /* Remove container margins */
  }
  
  .Toastify__toast-body {
    font-size: 12px; /* Smaller text size */
  }
  

  

  .Toastify__toast--enter {
    animation: fadeIn 0.5s ease-in !important;
    background-color: #333 !important; /* Darker color on appearance */
}

.Toastify__toast--exit {
    animation: fadeOut 0.5s ease-out !important;
    background-color: #000 !important;
}

/* Define custom animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}